.wrapper{
  width: 99%;
}
.gallery{
display:flex;
width: 98%;
}
.header{
height: 100%;
width: 80%;
margin-top: 10px;
}
.header img{
height: 80vh;
width: 100%;
margin-left: 30px;

}
.header h1{
font-size: 45px;
margin-left: 30px;
margin-top: 20px;

}
.header p{
margin-left: 30px;
margin-top: 10px;
font-size: 25px;

}
.HEADER{
width: 45%;
height: 100%;
margin-left: 50px;
}
.header1{
height: 100%;
width: 100%;
margin-top: 10px;
}
.header1 img{
height: 40vh;
width: 100%;
}

.header2{
height: 100%;
width: 100%;
display: flex;
margin-top: 8px;
}
.header2 img{
height: 35vh;
width: 47%;
padding: 5px;
}

.test{
display: flex;
margin-left: 25px;
}
.test button{
padding: 10px;
margin: 10px;
width: 120px;
border-radius: 8%;

}
.test button:hover{
background-color: rgb(252, 14, 46);
}

.test1{
display: flex;
text-align: center;
text-decoration: none;
margin-left: 25px;
}
.test1 ul{
width: 80%;
display: flex;
list-style: none;
font-size: 25px;


}
.test1 ul li{
margin: 5px;
padding: 10px;
text-decoration: none;
}

.test1 li:hover{
background-color: rgb(252, 14, 46);
}
.test2{
display: flex;
width: 95%;
margin-left: 40px;
margin-bottom: 30px;

}
.sidebar{
height: 50vh;
width: 100%;
margin-left: 20px;
margin-right: 15px;
overflow-y: scroll;
}
.sidebar::-webkit-scrollbar{
width: 10px;
border-radius: 15px;
}
.sidebar ul{
padding: 10px;
margin: 5px;
list-style: none;
font-size: 20px;
}
.rows {
display: grid;
height: 50vh;
width: 100%;
overflow-y: scroll;

}
.row::-webkit-scrollbar{
width: 10px;
border-radius: 15px;
}

.column{
  height: 40px;
  display: flex;
}
.column-1{
  height: 100%;
  width: 98%;
  border-radius: 2px solid white;

}
.image {
  display: flex;
  margin-top: 8px;
  vertical-align: middle;
  height: 100%;
  width:100%;
  margin-right: 300px;
  border-radius: 2px solid white;

}
.column-2{
  margin-left: 10px;
  margin-top: 60px;
  vertical-align: right;
  margin-left: 500px;
}

.btn{
  padding: 6px 19px;
  border-radius: 2px solid white;
  border-radius: 8px;
  background: none;
  color: black;
  cursor: pointer;
  text-align: right;
  vertical-align: right;
}
.dotted{
width: 95%;
margin-left: 40px;
}
.solid{
margin-top: 10px;
}
.solids{
margin-left: 37px;
margin-top: 10px;
color: rgb(163, 157, 157);
}


.main-footer {
margin: 0;
padding: 0;
background-color: black;
margin-left: 20px;
}
.contianer{
color: white;
margin-left: 20px;
}

.column{
float: left;
width: 20%;
padding: 10px;
height: 150px;
}
.row:after {
content: "";
display: table;
clear:both;
}
.list{

list-style: none;
}
.fa:hover {
opacity: 0.7;
}
.fa-instagram {
background: #125688;
color: white;
}


.fa-facebook {
background: #3B5998;
color: white;
}

.fa-twitter {
background: #55ACEE;
color: white;
}
